<h1>Editing session</h1>
<%= link_to 'Back to subtask', edit_subtask_path(@subtask) %>
<br/>
<br/>

<%= render 'form' %>

<!--<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>  -->
